:root {
    --blue-green: #099d8d;
    --black: #000000;
    --gunmetal: #54585a;
    --aqua: #14d9c4;
    --title-font: 'Rubik';
    --text-font: 'Open Sans';
    box-sizing: border-box;
    --cool-grey: #b8b8b9;
  }