.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top: solid 1px #b8b8b9;
  @media all and (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 30px 45px 60px;
  }
  @media all and (min-width:1200px){
    padding: 24px 138px 0px;
  }
  &__name {
    font-family: var(--text-font);
    font-size: 14px;
    text-align: center;
    color: #b8b8b9;
    margin-top: 30px;
    height: fit-content;
    @media all and (min-width: 768px) {
      justify-content: flex-start;
      order: 1;
      margin-top: 30px;
      left: 45px;
      position: absolute;
    }
    @media all and (min-width:1200px){
      left: 138px;
    }
  }
  &__list {
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 14px;
    color: var(--gunmetal);
    opacity: 0.75;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    margin-left: 20px;
    padding: 20px 29px 30px 29px;
    box-sizing: border-box;
    @media all and (min-width: 768px) {
    align-items: flex-end;
    line-height: 30px;
    margin: 0;
    order: 3;
    }
    &__link {
      text-decoration: none;
      color: var(--gunmetal);
      padding: 0;
    }
  }
  &__brand{
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 115.9px;
    margin-bottom: 65px;
    margin-top: 10px;
    @media all and (min-width: 768px) {
      justify-content: flex-start;
      margin: 65px 0px 0px 0px;
      order: 1;
    }
  }
}
