<article class="member">
    <div class="member__container">
        <img class="member__container__foto" src=@@source alt="foto persona 1" />
    </div>
    <section class="member-info">
        <h3 class="member-info__name">
            @@nombre
        </h3>
        <p class="member-info__text">
            @@text
        </p>
        <div class="member-info__icons">
            <a href="@@twitterur" target="_blank"><i class="fab fa-twitter member-info__icons__link"></i>
            </a>
            <a href="@@linkedin" target="_blank"><i class="fab fa-linkedin-in member-info__icons__link"></i>
            </a>
            <a href="@@github" target="_blank"><i class="fab fa-github-alt member-info__icons__link"></i>
            </a>
            <a href="mailto:@@correo" target="_blank"><i class="fas fa-envelope member-info__icons__link"></i>
            </a>
        </div>
    </section>
</article>