<article class="person rigth">
    <div class="container-foto">
        <img class="foto" src= @@source alt="foto persona 2" />
    </div>
    <section class="info-rigth">
        <h3 class="name">
            @@nombre
        </h3>
        <p class="text">
            @@text
        </p>
        <ul class="iconos">
            <li class="icono">
                <i class="fa-brands fa-twitter"></i>
            </li>
            <li class="icono">
                <i class="fa-brands fa-linkedin-in"></i>
            </li>
            <li class="icono">
                <i class="fa-brands fa-github-alt"></i>
            </li>
            <li class="icono">
                <i class="fa-solid fa-envelope"></i>
            </li>
        </ul>
    </section>
</article>