<article class="person">
    <div class="container-foto">
        <img class="foto" src= @@source alt="foto persona 1" />
    </div>
    <section class="info-person">
        <h3 class="name">
            @@nombre
        </h3>
        <p class="text">
            @@text
        </p>
        <div class="iconos">
            <a
          href="@@twitterur"
          ><i class="fab fa-twitter icono"></i>
        </a>
        <a
          href="@@linkedin"
          ><i class="fab fa-linkedin-in icono"></i>
        </a>
        <a
          href="@@github"
          ><i class="fab fa-github-alt icono"></i>
        </a>
        <a 
          href="mailto:@@Correo"
          ><i class="fas fa-envelope icono"></i>
        </a>
        </div>
        <!-- <ul class="iconos">
            <a href="@@twitterur" target="_blank" class="link">
                <li class="icono">
                    <i class="fa-brands fa-twitter"></i>
                </li>
            </a>
            <a href="@@linkedin" target="_blank" class="link">
                <li class="icono">
                    <i class="fa-brands fa-linkedin-in"></i>
                </li>
            </a>
            <a href="@@github" target="_blank" class="link">
                <li class="icono">
                    <i class="fa-brands fa-github-alt"></i>
                </li>
            </a>
            <a href="mailto:@@correo" target="_blank" class="link">
                <li class="icono">
                    <i class="fa-solid fa-envelope"></i>
                </li>
            </a>
        </ul> -->
    </section>
</article>