<article class="person">
    <div class="container-foto">
        <img class="foto" src= @@source alt="foto persona 1" />
    </div>
    <section class="info-person">
        <h3 class="name">
            @@nombre
        </h3>
        <p class="text">
            @@text
        </p>
        <ul class="iconos">
            <a href="@@twitter" target="_blank" class="link">
                <li class="icono">
                    <i class="fa-brands fa-twitter"></i>
                </li>
            </a>
            <a href="@@linkedin" target="_blank" class="link">
                <li class="icono">
                    <i class="fa-brands fa-linkedin-in"></i>
                </li>
            </a>
            <a href="@@github" target="_blank" class="link">
                <li class="icono">
                    <i class="fa-brands fa-github-alt"></i>
                </li>
            </a>
            <a href="@@correo" target="_blank" class="link">
                <li class="icono">
                    <i class="fa-solid fa-envelope"></i>
                </li>
            </a>
        </ul>
    </section>
</article>