<form class="formulary" action="https://formspree.io/f/mgeqzgeo" method="post">
    <label class="star" for="fullName">Nombre completo</label>
    <input placeholder="Nombre..." type="text" id="fullName" name="Nombre completo" required pattern="^(\w\w+)\s(\w+)$" title="Por favor introduzca un nombre completo válido" />
    <div class="flex">
        <div class="div">
            <label class="star" for="emailAddress">Email</label>
            <input class="email-container" placeholder="Nombre.apellidos@mail.com" type="email" id="emailAddress" name="Dirección de email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Por favor introduzca un email válido"/>
        </div>
            
        <div class="div">
            <label for="telephone">Teléfono</label>
            <input placeholder="Ej:123456789" type="tel" id="telephone" name="Teléfono" pattern="[6789][0-9]{9}" title="Por favor introduzca un teléfono válido" />
        </div>    
    </div>
    <label class="star" for="comments">Mensaje</label>
    <textarea id="comments" placeholder="¿Qué necesitas?" name="Mensaje" rows="8" cols="80" required></textarea>
    <input class="send" type="submit" value="Enviar" />
</form>