<section class="hero">
    <img class="photo-hero">
</section>
<section class="contact">
    <h2 class="contact__title">Contacto</h2>
    <p class="contact__text">Si necesitas nuestros servicios y tienes alguna duda o te gustaría obtener más información, puedes rellenar el siguiente formulario y nos pondremos el contacto contigo lo más pronto posible</p>
    <small class="contact__small">Todos los campos marcados con <span class="contact__small--asterisk">*</span> son
        obligatorios.</small>
</section>