<form class="formulary" action="https://formspree.io/f/{sra.picadillo@gmail.com}" method="post">
    <label class="star" for="fullName">Nombre completo</label>
    <input placeholder="Nombre..." type="text" id="fullName" name="Nombre completo" />
    <div class="flex">
        <div class="div">
            <label class="star" for="emailAddress">Email</label>
            <input class="email-container" placeholder="Nombre.apellidos@mail.com" type="email" id="emailAddress" name="Dirección de email" />
        </div>
            
        <div class="div">
            <label for="telephone">Teléfono</label>
            <input placeholder="Ej:123456789" type="tel" id="telephone" name="Teléfono" />
        </div>
        
            
    <form action="https://formspree.io/f/{sra.picadillo@gmail.com}" method="post">
        </div>
        <label class="star" for="comments">Mensaje</label>
        <textarea id="comments" placeholder="¿Qué necesitas?" name="Mensaje" rows="8" cols="80"></textarea>
        <input class="send" type="submit" value="Enviar" />
    </form>
</form>