<footer class="footer">
    <p class="footer__name">
        Women in Tech &copy;2022
    </p>
    <nav>
        <ul class="footer__list">
            <li> <a href="./index.html#team" class="footer__list__link">Equipo</a> </li>
            <li> <a href="./index.html#aboutUs" class="footer__list__link">Quiénes somos</a> </li>
            <li> <a href="./contacto.html" class="footer__list__link">Contacto</a></li>
        </ul>
    </nav>
    <a href="https://adalab.es/" class="footer__brand" target="_blank">
        <img class="footer__brand__logo" src="./assets/images/logo-adalab.png" alt="Logo de Adalab">
    </a>
</footer>