<header class="header">
    <h1 class="header__h1"><a ref="Home" href="./index.html">Women in tech</a></h1>
    <nav class="header__nav">
        <ul class="list">
            <li><a ref="equipo" href="@@team" class="list__element links">Equipo</a></li>
            <li><a ref="quiénes somos" href="@@aboutUs" class="list__element links">Quiénes somos</a></li>
            <li><a ref="contacto" href="./contacto.html" class="list__element links">Contacto</a></li>
        </ul>
    </nav>
</header>