<section class="section-2">
    <section class="section-2__strengths">
        <h2 class="section-2__strengths__title">
            Fortalezas
        </h2>
        <p class="section-2__strengths__text">
            Somos un equipo formado por mujeres que saben lo que quieren y dispuestas a darle un giro de 180º a sus vidas para conseguirlo. Venimos de diferentes sectores pero tenemos algo en común: la pasión por la programación.
        </p>
    </section>
    <section class="section-2__weaknesses">
        <h2 class="section-2__weaknesses__title">
            Debilidades
        </h2>
        <p class="section-2__weaknesses__text">
            Es posible que no seamos las personas con más experiencia, pero te prometemos que dedicaremos todo nuestro esfuerzo y dedicación a cumplir tus sueños.
        </p>
    </section>
</section>