/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

/* HOJA DE RESET:
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*HOJA DE STYLES: */


/*
    font-family: 'Open Sans';
    font-family: 'Rubik';
*/
* {
    box-sizing: border-box;
  }
  
  :root {
    --blue-green: #099d8d;
    --black: #000000;
    --gunmetal: #54585a;
    --aqua: #14d9c4;
    --blue-green: #099d8d;
  }
  
  .header {
    background-color: rgba(9 ,157 , 141, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  h1 {
    font-family: 'Rubik';
    text-align: center;
    padding: 25px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
  }
  .menu {
    background-color: rgba(20, 217, 196, 0.5);
    font-family: 'Rubik';
    padding: 20px;
  }
  
  .hero {
    background: url(../images/hero-contactos.jpg);
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
  }

  .foto-hero{
    background-size: cover;
  }

  .lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
  }
  .lista-elemento {
    font-size: 15px;
    text-decoration: none;
    color: white;
  }

  .contacto{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 58px;
    text-align: center;
  }

  .contacto .title {
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 500;
    color: var(--blue-green);
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .contacto .text {
    color: var(--gunmetal);
    margin-bottom: 30px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.5;
  }

  .contacto .small {
    color: var(--gunmetal);
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 1.5;
  }

  .small:after {
    content: "*";
    font-size: 12px;
    color: var(--aqua);
    font-size: "Open Sans";
  }

  .small:last-child:after {
    content: " ";
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: solid 1px #b8b8b9;
  }

  .formulario{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: "Open Sans";
    margin-left: 15px;
    margin-right: 15px;
  }

  .formulario label{
    color: var(--gunmetal);
    margin-bottom: 7px;
    margin-top: 7px;
  }

  .formulario .star:after {
    content: " *";
    font-size: 12px;
    color: var(--aqua);
    font-size: "Open Sans";
  } 

  .enviar{
    background-color: var(--blue-green);
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    padding-top: 11px;
    padding-bottom: 12px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  /*.box {
    width: 30px;
    height: 30px;
    background-color: white;
    transform: translateY(-50%) rotate(45deg);
    margin: 0 auto;
  }
  .info {
    background-color: rgba(184, 184, 185, 0.2);
    text-align: center;
    padding-bottom: 30px;
  }
  
  .fortalezas {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .debilidades {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .title-2 {
    font-size: 22px;
    font-weight: 500;
    color: #099d8d;
    font-family: "Rubik";
    margin-bottom: 15px;
  }
  
  .parrafo {
    font-size: 16px;
    line-height: 1.5;
    color: #54585a;
    font-family: "Open Sans";
    
  }
  
  .quienes-somos .title {
    height: 45px;
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    color: var(--blue-green);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .person {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-foto {
    width: 190px;
    height: 190px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: solid 5px rgba(0, 0, 0, 0.08);
  }
  
  .person .foto {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  
  .person .name {
    height: 45px;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 45px;
    color: var(--black);
    text-align: center;
  }
  
  .person .text {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    color: var(--gunmetal);
    text-align: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
  }
  
  .iconos {
    height: 30px;
    display: flex;
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 45px;
    gap: 10px;
  }
  
  .iconos .icono {
    color: var(--blue-green);
  }
  
  .icono:after {
    content: "·";
    color: var(--gunmetal);
    font-size: "Open Sans";
  }
  
  .icono:last-child:after {
    content: " ";
    color: var(--black);
  }
  */
  .contenedor-footer {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    border-top: solid 2px #b8b8b9;
  }
  
  .footer-nombre {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #b8b8b9;
    margin-top: 30px;
  }
  
  .footer-equipo {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--gunmetal);
    opacity: 0.75;
    line-height: 1.43;
    text-align: center;
    padding: 20px 29px 30px;
    text-transform: uppercase;
  }
  
  .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 115.9px;
    margin-bottom: 45px;
  }