
@import 'core/reset';
/*@import 'core/variables';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/


/*HOJA DE STYLES: */


/*
    font-family: 'Open Sans';
    font-family: 'Rubik';
*/
* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-family: 'Rubik';
}
  
:root {
  --blue-green: #099d8d;
  --black: #000000;
  --gunmetal: #54585a;
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --cool-grey: #b8b8b9;
}
  
  .header {
    background-color: rgba(9 ,157 , 141, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    h1 {
      font-family: 'Rubik';
      text-align: center;
      padding: 25px;
      color: white;
      font-size: 16px;
      text-transform: uppercase;
    }
    .menu {
      background-color: rgba(20, 217, 196, 0.5);
      font-family: 'Rubik';
      padding: 20px;
      .lista {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        width: 100%;
        .lista-elemento {
          font-size: 15px;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  
  main {
    .hero {
      background: url(../images/contact-us.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      width: 100%;
      height: 320px;
    }
  }

  .contacto{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 58px;
    text-align: center;
    .title {
      font-family: "Rubik";
      font-size: 24px;
      font-weight: 500;
      color: var(--blue-green);
      text-align: center;
      text-transform: uppercase;
      padding: 30px 0 15px;
      letter-spacing: 0.5px;
    }
    .text {
      color: var(--gunmetal);
      margin-bottom: 30px;
      text-align: center;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 1.5;
    }
    .small {
      color: var(--gunmetal);
      text-align: center;
      font-family: "Open Sans";
      font-size: 12px;
      line-height: 1.5;
      .asterisco  {
        font-size: 12px;
        color: var(--aqua);
        font-size: "Open Sans";
      }
    }
  }

  .formulario{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: "Open Sans";
    margin-left: 15px;
    margin-right: 15px;
    .star {
      font-size: 14px;
      color: var(--gunmetal);
    } 
    .comments{
      overflow: scroll;
      resize: none;
      font-size: 14px;
      font-family: 'Open Sans';
      color: var(--cool-grey);
    }
    .star:after {
      content: " *";
      font-size: 12px;
      color: var(--aqua);
      font-size: "Open Sans";
    }
    .star::placeholder{
      color: var(--cool-grey);
      font-size: 12px;
      font-family: 'Open Sans';
    }
    label{
      color: var(--gunmetal);
      margin-bottom: 7px;
      margin-top: 7px;
    }
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: solid 1px #b8b8b9;
      padding: 10px;
    }
    .enviar{
      background-color: var(--blue-green);
      color: white;
      text-transform: uppercase;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 600;
      padding-top: 11px;
      padding-bottom: 12px;
      margin-top: 30px;
      margin-bottom: 60px;
      border-radius: 5px;
    }
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 250px;
    border-top: solid 1px #b8b8b9;
  }
  
  .footer-nombre {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #b8b8b9;
    margin-top: 30px;
  }
  
  .footer-lista {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--gunmetal);
    opacity: 0.75;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    margin-left: 20px;
    padding: 20px 29px 30px 29px;
    box-sizing: border-box;
  }
  .footer-lista a {
    text-decoration: none;
    color: var(--gunmetal);
  }
  
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 115.9px;
    margin-bottom: 65px;
    margin-top: 10px;
  }
    .footer-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 45px;
      width: 115.9px;
      margin-bottom: 45px;
    }

  @media screen and (min-width:768px) {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: static;
      background-color: var(--blue-green);
      h1{
        padding: 15px 0px 15px 45px;
      }
      .menu {
        background-color: var(--blue-green);
        .lista-elemento {
          padding: 19px;
          text-align: center;
        }
      }
    }
    .contacto{
      margin: 30px 163px 58px 163px;
    }
    .formulario{
      margin-left: 163px;
      margin-right: 163px;
      margin-top: 58px;
      .enviar{
        width: 50%;
        align-self: flex-end;
      }
    }
    .footer {
      flex-direction: column;
      justify-content: space-between;
      height: 170px;
    }
    .footer-logo{
      margin: 0px;
      margin-left: 45px;
      order: 0;
      transform: translateY(-250%);
      margin-top: 10px;
    }
    .footer-nombre{
      margin-left: 45px;
      text-align: start;
      margin-top: 30px;
      
    }
    .footer-lista{
      text-align: end;
      display: inline;
      line-height: 2;
      padding-top: 0;
      width: 324px;
      float: right;
    }
    .container-lista{
      display: flex;
      justify-content: flex-end;
    }
  }

  @media screen and (min-width:1200px) {

    .header{
      padding-left: 142px;
      padding-right: 142px;
    }

    .contacto{
      margin-right: 300px;
      margin-left: 299px;
    }

    .formulario{
      margin-right: 300px;
      margin-left: 299px;
    }

    .formulario .flex{
      display: flex;
      justify-content: space-between;

      label {
        text-align: left;
      }
      .email {
        width: 395px;
      }
      .phone {
        width: 162px;
    }
  }
    .formulario .enviar{
      margin-bottom: 120px;
    }

    .footer{
      padding-left: 138px;
      padding-right: 138px;
    }
  }