@import "core/reset";
@import "core/variables";
@import "layout/header";
@import "layout/section-1";
@import "layout/section-2";
@import "layout/section-3";
@import "layout/article";
@import "layout/article-rigth";
@import "layout/footer";
.hero {
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 421px;
}
.lema {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 14px 15px 16px 15px;
  background-color: white;
  transform: translateY(-50%);
  margin: 0 15px 0 15px;
}
.lema-p {
  font-family: var(--text-font);
  color: black;
  font-weight: 700;
}
.box {
  width: 30px;
  height: 30px;
  background-color: white;
  transform: translateY(50%) rotate(45deg);
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .lema {
    padding: 15px 30px;
    margin-left: 46px;
    width: max-content;
    transform: translateY(-100%);
    opacity: 0.8;
  }

  .title {
    padding-bottom: 15px;
  }
  // .person {
  //   display: flex;
  //   flex-direction: row;
  //   padding-bottom: 67px;
  //   padding-left: 45px;
  //   padding-right: 45px;
  //   align-content: flex-start;
  // }
  // .container-foto {
  //   width: 213px;
  //   height: 213px;
  // }
  // .info-rigth,
  // .name-rigth,
  // .text-rigth {
  //   text-align: end;
  //   width: 60vw;
  //   margin-left: 15px;
  //   padding-right: 44px;
  //   margin-right: 0;
  // }
  // .iconos {
  //   justify-content: flex-start;
  //   margin-left: 15px;
  // }
  // .iconos-rigth {
  //   justify-content: flex-end;
  //   margin-left: 15px;
  // }
  // .info-person,
  // .name,
  // .text {
  //   width: 60vw;
  //   text-align: start;
  //   margin-left: 15px;
  //   padding-right: 44px;
  //   margin-right: 0;
  // }

  // .name {
  //   margin-top: 20px;
  // }
  // .iconos {
  //   margin-top: 15px;
  // }
}

@media all and (min-width: 1200px) {
  .lema {
    font-size: 24px;
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    margin-left: 138px;
  }

  /*seccion 3 elena */

  .person {
    margin-left: 150px;
    margin-right: 100px;
  }
  .container-foto {
    width: 286px;
    height: 286px;
    margin: 0;
  }
  .info-person,
  .text,
  .name {
    width: 40vw;
    text-align: start;
  }
  .info-rigth,
  .text-rigth,
  .name-rigth {
    width: 40vw;
    text-align: end;
  }
  .iconos {
    justify-content: flex-start;
  }

  /*seccion footer */
  .footer-equipo {
    margin-right: 100px;
  }
  .footer-logo,
  .footer-nombre {
    margin-left: 150px;
  }
  .container-lista {
    margin-right: 150px;
  }
}
