@import 'core/reset';
/*@import 'core/variables';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/


/*HOJA DE STYLES: */

/*
    font-family: 'Open Sans';
    font-family: 'Rubik';
*/
* {
    box-sizing: border-box;
  }
  
  :root {
    --blue-green: #099d8d;
    --black: #000000;
    --gunmetal: #54585a;
    --aqua: #14d9c4;
  }
  
  .header {
    background-color: rgba(9 ,157 , 141, 0.4);
    opacity: 0.95;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  h1 {
    font-family: 'Rubik';
    text-align: center;
    background-color: var(--blue-green);
    padding: 25px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
  }
  .menu {
    background-color: rgba(20, 217, 196, 0.8);
    font-family: 'Rubik';
    padding: 15px;
  }
  
  .hero {
    background-image: url(../images/hero.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 421px;
  }
  .lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
  }
  .lista-elemento {
    font-size: 15px;
    text-decoration: none;
    color: white;
  }
  
  .imagen {
    width: 100%;
  }
  .lema {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px;
    background-color: white;
    transform: translateY(-50%);
  }
  .lema-p {
    font-family: 'Rubik';
    color: black;
  }
  .main {
    transform: translateY(-33px);
  }
  
  
  .title {
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 500;
    color: #14d9c4;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  .parrafo-equipo {
    color: #54585a;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.5;
  }
  .box {
    width: 30px;
    height: 30px;
    background-color: white;
    transform: translateY(50%) rotate(45deg);
    margin: 0 auto;
  }
  .info {
    background-color: rgba(184, 184, 185, 0.2);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  .fortalezas {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .debilidades {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;

  }
  
  .title-2 {
    font-size: 22px;
    font-weight: 500;
    color: #099d8d;
    font-family: "Rubik";
    margin-bottom: 15px;
  }
  
  .parrafo {
    font-size: 16px;
    line-height: 1.5;
    color: #54585a;
    font-family: "Open Sans";
    
  }
  
  .quienes-somos .title {
    height: 45px;
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    color: var(--blue-green);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .person {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-foto {
    width: 190px;
    height: 190px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: solid 5px rgba(0, 0, 0, 0.08);
  }
  
  .person .foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .name, .name-rigth {
    height: 45px;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 45px;
    color: var(--black);
    text-align: center;
  }
  
  .text, .text-rigth {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    color: var(--gunmetal);
    text-align: center;
    // width: 100%;
    // padding-left: 30px;
    // padding-right: 30px;
    margin-bottom: 15px;
  }
  
  .iconos, .iconos-rigth {
    height: 30px;
    display: flex;
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 45px;
    gap: 10px;
  }
  .link {
    text-decoration: none;
  }
  .iconos .icono {
    color: var(--blue-green);
  }
  
  .iconos-rigth .icono {
    color: var(--blue-green);
  }

  .icono:after {
    content: "·";
    color: var(--gunmetal);
    font-size: "Open Sans";
  }
  
  .icono:last-child:after {
    content: " ";
    color: var(--black);
  }
  
  .contenedor-footer {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    border-top: solid 1px #b8b8b9;
  }
  
  .footer-nombre {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #b8b8b9;
    margin-top: 30px;
  }
  
  .footer-equipo {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--gunmetal);
    opacity: 0.75;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    margin-left: 20px;
    padding: 20px 29px 30px 29px;
    box-sizing: border-box;
  }
  .li-footer {
    text-decoration: none;
    color: var(--gunmetal);
  }
  
  .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 115.9px;
    margin-bottom: 65px;
    margin-top: 10px;
  }

  @media (min-width: 768px) {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      background-color: var(--blue-green);
    }
    .menu {
      background-color: var(--blue-green);
    }
    .lista-elemento {
      padding: 20px;
      text-align: center;
    }
    .lema {
      padding: 15px 30px;
      width: max-content;
      transform: translate(-40%, -100%);
      opacity: 0.8;
    }
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fortalezas {
      width: 50%;
    }
    .debilidades {
      width: 50%;
    }
    .title {
      margin-top: 45px;
      margin-bottom: 41px;
    }
    .person {
      display: flex;
      flex-direction: row;
      padding-bottom: 67px;
      padding-left: 45px;
      padding-right: 45px;
      align-content: flex-start;
      
    }
    .container-foto {
      width: 213px;
      height: 213px;
    }
    .info-rigth, .name-rigth, .text-rigth{
      text-align: end;
      width: 60vw;
      margin-left: 15px;
      padding-right: 44px;
      margin-right: 0;
    }
    .iconos-rigth {
      justify-content: flex-end;
      margin-left: 15px;
    }
    .info-person, .name, .text {
      width: 60vw;
      text-align: start;
      margin-left: 15px;
      padding-right: 44px;
      margin-right: 0;
    }

    .name {
      margin-top: 20px;
    }
    .iconos {
      justify-content: flex-start;
      margin-left: 15px;
    }
    .rigth {
      flex-direction: row-reverse;
    }
    }
  /*   .contenedor-footer{
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      height: 170px;
      
    }
    .footer-logo{
      margin: 0px;
      margin-left: 45px;
    }
    .footer-nombre{
     
      
    }
    .footer-equipo{
      margin-right: 45px;
    } */